{% extends "templates/web.html" %}

{% block page_content %}
<h2>{{ title }}</h2>
<div class="card border-0" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title mt-0">Flight Details</h3>
      <ul>
        <li>
            Airline: {{frappe.get_all('Airplane',filters={"name":airplane},fields=["name","airline"])[0].airline}}
        </li>
        <li>
            {{ source_airport_code }} -> {{ destination_airport_code }}
        </li>
        <li>
            {{ date_of_departure }} | {{ time_of_departure }}
        </li>
        <li>
            Duration: {{frappe.utils.format_duration(duration)}}
        </li>
      </ul>
      <div><a href="/book-flight-ticket/new?flight={{ name }}&flight_price=10000" 
        class="btn btn-primary py-3 px-5"
        style="background-color: rgb(50,45,255) !important; text-decoration: none; color: white;">
         Book Flight
     </a>
     </div>
    </div>
  </div>
{% endblock %}

<!-- this is a sample default web page template -->